<div class='jumbotron'>
   <div class='row'>
     <div class='col-xs-6 center-block'>
       <%= image_tag('octocat.png', class: 'img-responsive') %>
       <%= link_to button_tag('Sign in via Github', class: 'btn-auth btn-github'), '/auth/github' %>
     </div>
     <div class='col-xs-4 col-xs-offset-2'>
       <h1>Log in</h1>
       <%= form_tag login_path do %>
           <p>
           <%= label_tag :email %>
           <%= text_field_tag :email %>
         </p>
           <p>
           <%= label_tag :password %>
           <%= password_field_tag :password %>
         </p>

           <p class='button'><%= submit_tag 'Login' %></p>
         <% end %>
     </div>
   </div>
</div>

<%= form_tag login_path, class: "form-horizontal login-form", role: "form" %>

+  <div class="form-group">
  +    <%= label_tag :login, nil, class: "col-sm-2 control-label" %>
  +    <div class="col-sm-10">
  +      <%= text_field_tag :login, nil, class: "form-control" %>
  +    </div>
  +  </div>
+  <div class="form-group">
  +    <%= label_tag :password, nil, class: "col-sm-2 control-label" %>
  +    <div class="col-sm-10">
  +      <%= password_field_tag :password, nil, class: "form-control" %>
  +    </div>
  +  </div>
+  <div class="form-group">
  +    <div class="col-sm-offset-2 col-sm-10">
  +      <%= submit_tag 'Login', class: "btn btn-success btn-block" %>
  +    </div>
  +  </div>
+
