
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Find Jobs: Find your next job and advance your career today | Monster.com</title>
  <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=10" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8">
  <meta name="DCS.applicationid" content="login20" />
  <meta name="DCS.channelid" content="58" />
  <meta name="DCS.release" content="2016.16.0.42" />
  <meta name="SL.domain" content="login.monster.com" />
  <meta name="SL.channelAlias" content="MONS" />

  <link href="https://securemedia.newjobs.com/favicon.ico" id="favIcon" rel="shortcut icon" title="monster icon shortcut link"></link>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">

  <link href="https://css-seeker.newjobs.com/MONS/v4.1.2.4/seeker.global.responsive_css.axd?s=1" rel="stylesheet" type="text/css" />
  <script src="https://js-seeker.newjobs.com/MONS/v4.1.2.2/seeker.global.responsive_js.axd?s=1" type="text/javascript"></script>








  <link href="https://css-seeker.newjobs.com/MONS/v4.1.2.5/login20_css.axd?s=1" rel="stylesheet" type="text/css" />
  <script src="https://js-seeker.newjobs.com/MONS/v4.1.2.3/login20_js.axd?s=1" type="text/javascript"></script>
  <script src="https://oas.monster.com/Scripts/oas_analytics.js" type="text/javascript"></script>



  <script type="text/javascript" src="//nexus.ensighten.com/monster/Bootstrap.js"></script>
</head>
<body>
<div style="display:none;"></div>





<!-- Header starts -->


<script type="text/javascript">

  $(function () {
    $(".input-clear").hide($(this).prev('input').val());
    $(".input-clear").click(function () {
      var t = $(this);
      t.closest('div.input-group').find('input').removeClass('input-delete-icon');
      t.closest('div.input-group').find('input').val('').focus();
      t.closest('div.input-group').find('input').typeahead('val', '');
      t.hide();
    });
    $(".hasclear").keyup(function () {
      var t = $(this);
      t.closest('div.input-group').find('.input-clear').toggle(Boolean(t.val()));
      t.addClass('input-delete-icon');
    });
  });


</script>


<div class="mobile-nav-container">
  <div class="mobile-nav-wrapper">
    <aside role="navigation" class="side-menu-container aside" id="side-menu0">
      <ul class="nav nav-list accordion">
        <li><a href="http://resume.monster.com">Post a Resume</a></li>
        <li><a href="http://resume.monster.com/coverletter/home.aspx">Create a Cover Letter</a></li>
        <li><a href="http://monsterres.careerperfect.com/?msource=nav_profile-resume_10.2010">Resume Writing Services</a></li>
      </ul>
    </aside>
    <aside role="navigation" class="side-menu-container aside" id="side-menu1">
      <ul class="nav nav-list accordion">
        <li><a href="http://jobs.monster.com/advanced-search">Advanced Search</a></li>
        <li><a href="http://jobsearch.monster.com/browse/">Browse Jobs</a></li>
        <li><a href="http://jobs.monster.com/manage-saved-search">Saved Search</a></li>
        <li><a href="http://jobs.monster.com/manage-saved-jobs">Saved Jobs</a></li>
        <li><a href="http://my.monster.com/Account/Applyhistory.aspx">Apply History</a></li>
      </ul>
    </aside>
    <aside role="navigation" class="side-menu-container aside" id="side-menu2">
      <ul class="nav nav-list accordion">
        <li><a href="http://news.monster.com">News</a></li>
        <li><a href="http://career-advice.monster.com">Browse Career Advice</a></li>
        <li><a href="http://my.monster.com">Communities</a></li>
        <li><a href="http://career-services.monster.com">Career Services</a></li>
        <li><a href="http://company.monster.com/">Company Profiles</a></li>
      </ul>
    </aside>
  </div>
</div>
<!-- Top Nav -->
<nav role="navigation" class="solid-nav navbar-2 navbar navbar-default navbar-fixed-top" id="m-global-navbar">
  <div class="navbar-overlay"></div>
  <div class="navbar-overlay-small"></div>
  <div class="container navbar-main">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a name="monsterLogo" class="navbar-brand mons" aria-label="Monster Home" href="http://www.monster.com" >
        <span class="sr-only">Monster Home</span>
        <div class="logo" title="Monster Home"></div>
      </a>

      <a class="btn btn-sm btn-signup hidden-sm hidden-md hidden-lg pull-right" href="http://login20.monster.com/Become-Member/Create-Account?landedFrom=SignIn"> Sign Up</a>


    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="active">
        </li>
        <li>
          <div class="hidden-sm" id="login-btn-employer">
            <a href="http://hiring.monster.com/?intcid=skr_LPF_TopNav_Employer" title="Employers: Post Jobs and Find Talent" rel="nofollow" data-track="1" name="rnlEmployer">
              Employers
              <br>
              <span>Post Jobs &amp; Find Talent </span>
            </a>
          </div>
        </li>
      </ul>
      <form  id="quickJobSearch" action="http://jobs.monster.com/search/" role="search" class="navbar-form" method="get">
        <div class="form-group top-search keywords">
          <label for="keywords" class="sr-only">Keywords</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" autocomplete="off" class="form-control input-sm hasclear input-delete-icon" placeholder="Search for Jobs" name="q" id="keywords" value="" />
            <span class="input-clear" style="">x</span>
          </div>
        </div>
        <div class="form-group top-search location">
          <label for="location" class="sr-only">Location</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input type="text" autocomplete="off" id="location" name="where" class="form-control input-sm typeahead hasclear" placeholder="Location" value="" />
            <span class="input-clear" style="">x</span>
          </div>
        </div>
        <button onclick="mnstDoSearch('quickJobSearch', '0');return false;"  class="btn btn-white btn-sm" type="button" id="doQuickSearch">Search</button>
      </form>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container subnav top-subnav hidden-xs">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav hidden-xs subnav-nav"> <!-- Jobs / Companies / People / News -->
        <li><span id="subnav-link-1" class="navbar-text subnav-link">Resumes&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span></li>
        <li><span id="subnav-link-2" class="navbar-text subnav-link">Jobs&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span></li>
        <li><span id="subnav-link-3" class="navbar-text subnav-link">Career Resources&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span></li>
      </ul>

      <!-- <a class="nav navbar-nav navbar-right subnav-ad subnav-link" id="subnav-link-4"></a> -->
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="subnav-sub-1" class="container subnav-sub hidden-xs">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="col-xs-3 subnav-sub-columns">
        <ul class="subnav-sub-columns-spacing">
          <li><a href="http://resume.monster.com" title="Post a Resume">Post a Resume</a></li>
          <li><a href="http://resume.monster.com/coverletter/home.aspx" title="Create a Cover Letter">Create a Cover Letter</a></li>
          <li><a href="http://monsterres.careerperfect.com/?msource=nav_profile-resume_10.2010" title="Resume Writing Services">Resume Writing Services</a></li>
        </ul>
      </div>

      <div class="col-xs-3 subnav-sub-columns">
        <div class="cmsNavContainer componentDC1">
          <h3 class="fnt5">Top Articles</h3>

          <ul>
            <li><a href="http://www.monster.com/career-advice/cover-letter-resume/resume-samples" title="Resume Samples">Resume Samples</a></li>
            <li><a href="http://www.monster.com/career-advice/cover-letter-resume/cover-letter-tips" title="Cover Letter Tips">Cover Letter Tips</a></li>
            <li><a href="http://www.monster.com/career-advice/article/resume-dig-deep-accomplishments" title="Dig Deep for Resume Accomplishments">Accomplishments on Your Resume</a></li>
            <li><a href="http://www.monster.com/career-advice/article/resume-mistakes-pet-peeves" title="Four Things That Can Send Your Resume into the Trash">Four Things That Can Get Your Resume Tossed</a></li>
            <li><a href="http://www.monster.com/career-advice/article/cover-letters-for-50-plus-workers" title="Cover Letters Build the Case for Workers Over 50">Cover Letter Tips for Older Workers</a></li>
            <li><a href="http://www.monster.com/career-advice/article/how-to-decide-on-resume-length" title="How to Decide on Resume Length">How to Decide on Resume Length</a></li>
            <li><a href="http://www.monster.com/career-advice/article/resume-tips-for-job-fairs" title="Resume Tips for Job Fairs">Resume Tips for Job Fairs</a></li>
            <li><a href="http://www.monster.com/career-advice/article/teacher-cover-letter-sample" title="Sample Cover Letter for an Elementary School Teacher">Sample Cover Letter for a Teacher</a></li>
            <li><a href="http://www.monster.com/career-advice/article/resume-dilemma-im-overqualified" title="I'm Overqualified">Resume Dilemma: Overqualified</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="subnav-sub-2" class="container subnav-sub hidden-xs">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="col-xs-3 subnav-sub-columns">
        <ul class="subnav-sub-columns-spacing">
          <li><a href="http://jobs.monster.com/advanced-search" title="Advanced Search">Advanced Search</a></li>
          <li><a href="http://jobsearch.monster.com/browse/" title="Browse Jobs">Browse Jobs</a></li>
          <li><a href="http://jobs.monster.com/manage-saved-search" title="Saved Search">Saved Search</a></li>
          <li><a href="http://jobs.monster.com/manage-saved-jobs" title="Saved Jobs">Saved Jobs</a></li>
          <li><a href="http://my.monster.com/Account/Applyhistory.aspx" title="Apply History">Apply History</a></li>
        </ul>
      </div>

      <div class="col-xs-3 subnav-sub-columns">
        <div class="cmsNavContainer componentDC1">
          <h3 class="fnt5">Most Popular Jobs</h3>

          <ul>
            <li><a href="http://www.monster.com/jobs/q-courier-jobs.aspx" title="Courier Jobsg">Courier Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-delivery-driver-jobs.aspx" title="Delivery Driver Jobs">Delivery Driver Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-dental-assistant-jobs.aspx" title="Dental Assistant Jobs">Dental Assistant Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-electrician-jobs.aspx" title="Electrician Jobs">Electrician Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-medical-assistant-jobs.aspx" title="Medical Assistant Jobs">Medical Assistant Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-paralegal-jobs.aspx" title="Paralegal Jobs">Paralegal Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-pharmacist-jobs.aspx" title="Pharmacist Jobs">Pharmacist Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-pharmacy-technician-jobs.aspx" title="Pharmacy Technician Jobs">Pharmacy Technician Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-receptionist-jobs.aspx" title="Receptionist Jobs">Receptionist Jobs</a></li>
            <li><a href="http://www.monster.com/jobs/q-security-guard-jobs.aspx" title="Security Guard Jobs">Security Guard Jobs</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div id="subnav-sub-3" class="container subnav-sub hidden-xs">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="col-xs-3 subnav-sub-columns">
        <ul class="subnav-sub-columns-spacing">
          <li><a href="http://news.monster.com" title="News">News</a></li>
          <li><a href="http://career-advice.monster.com" title="Browse Career Advice">Browse Career Advice</a></li>
          <li><a href="http://my.monster.com" title="Communities">Communities</a></li>
          <li><a href="http://career-services.monster.com" title="Career Services">Career Services</a></li>
          <li><a href="http://company.monster.com/" title="Company Profiles">Company Profiles</a></li>
        </ul>
      </div>

      <div class="col-xs-3 subnav-sub-columns">
        <div class="cmsNavContainer componentDC2">
          <h3 class="fnt5">Additional Resources</h3>

          <ul>
            <li><a class="ext" href="http://www.careerperfect.com/services/resume-writing/?cpp1=monsterres&amp;msource=Navigation-additional resources" title="Resume Writing Services">Resume Writing Services</a></li>
            <li><a class="ext" href="http://www.monster.com/career-advice/cover-letter-resume" title="Resume Advice">Resume Advice</a></li>
            <li><a class="ext" href="http://www.monster.com/career-advice/job-interview" title="Interviewing Tips
    ">Interviewing Tips</a></li>
            <li><a href="http://www.monster.com/personal-finance-center" title="Personal Finance Center">Personal Finance Center</a></li>
            <li><a href="http://www.monster.com/career-advice/salary-benefits" title="Salary &amp; Benefits">Salary &amp; Benefits</a></li>
            <li><a class="ext" href="http://www.monster.com/career-advice/article/industry-career-advice" title="Career Advice by Industry">Career Advice by Industry</a></li>
            <li><a href="http://www.monster.com/career-advice/professional-development/education-training" title="Education &amp; Training">Education &amp; Training</a></li>
            <li><a href="http://www.monster.com/blog" target="">Monster Blog</a></li>
            <li><a href="http://resources.monster.com/diversity-inclusion/work/" title="Diversity Resources">Diversity Resources</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>

<nav role="navigation" class="visible-xs bottom-nav navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text-center bot-nav-li"><a class="side-menu-link bot-nav-items" href="#menu0"><i class="fa fa-briefcase"></i><span>Resumes</span></a></div>
      <div class="col-xs-3 text-center bot-nav-li"><a class="side-menu-link bot-nav-items" href="#menu1"><i class="fa fa-eye"></i><span>Jobs</span></a></div>
      <div class="col-xs-3 text-center bot-nav-li"><a class="side-menu-link bot-nav-items" href="#menu2"><i class="fa fa-graduation-cap"></i><span>Career Resources </span></a></div>
      <div class="col-xs-3 text-center bot-nav-li"><a class="side-menu-link bot-nav-items" href="http://news.monster.com/"><i class="fa fa-newspaper-o"></i><span>News</span></a></div>
    </div>
  </div>
</nav>
<script type="text/javascript">
  var keywordsField = '.navbar-hover.navbar.solid-nav .keywords';
  var locationField = '.navbar-hover.navbar.solid-nav .location';
  $('#keywords').focusin(function () {
    $(keywordsField).addClass('focused');
  });
  $('#keywords').focusout(function () {
    $(keywordsField).removeClass('focused');
  });
  $('#location').focusin(function () {
    $(locationField).addClass('focused');
  });
  $('#location').focusout(function () {
    $(locationField).removeClass('focused');
  });

  var menuLinkID;
  var timeDelay = 400; //default

  $('.subnav-link').click(function () {
    menuLinkID = $(this).attr('id');
    var lastChar = menuLinkID.substr(menuLinkID.length - 1);
    menuNum(lastChar);
  });
  $('.subnav-link').hover(function () {
    menuLinkID = $(this).attr('id');
    var lastChar = menuLinkID.substr(menuLinkID.length - 1);
    timeDelay = 400; //reset default
    //set delay to nothing if menu is already opened
    resetMenu();

    //set timer to avoid accidental opening of menu
    $(this).data('timeout', setTimeout(function () {
      menuNum(lastChar);
    }, timeDelay));
  }, function () {
    clearTimeout($(this).data('timeout'));
  });

  // this is for the top right My Account link disguised as Hello, Username
  $('.loginLink2').click(function () {
    $('#subnav-link-1').addClass('activated');
    menuNum('1');
  });
  $('.loginLink2').hover(function () {
    timeDelay = 400; //reset default
    //set delay to nothing if menu is already opened
    resetMenu();

    //set timer to avoid accidental opening of menu
    $(this).data('timeout', setTimeout(function () {
      $('#subnav-link-1').addClass('activated');
      menuNum('1');
    }, timeDelay));
  }, function () {
    clearTimeout($(this).data('timeout'));
  });
  function resetMenu() {
    if ($('.navbar-2').hasClass('navbar-hover')) {
      timeDelay = 0;
    }
  }

  function menuNum(idNum) {
    var menuNumber = idNum;
    if ($('.subnav-link').hasClass('activated')) {
      $('.subnav-sub').removeAttr('style').css({ 'transition': '0s', '-moz-transition': '0s', '-ms-transition': '0s', '-o-transition': '0s' });
      $('.subnav-link').removeClass('activated');
    }
    $('#subnav-link-' + menuNumber).removeClass('activated');
    $('#subnav-link-' + menuNumber).addClass('activated');
    $('.navbar').addClass('navbar-hover');
    $('#subnav-sub-' + menuNumber).css({ 'height': '290px' });
    $('.content, .footer').mouseover(
        function () {
          if ($('.subnav-link').hasClass('activated')) {
            $('.navbar-form .btn-white').css({ 'transition': '0' });
            setTimeout(function () {
              $('.navbar-form .btn-white').removeAttr('style');
            }, 200);
          }
          $('.subnav-sub').removeAttr('style');
          $('.subnav-link').removeClass('activated');
          $('.navbar').removeClass('navbar-hover');
          $('.navbar.solid-nav .keywords').removeClass('focused');
          $('.navbar.solid-nav .location').removeClass('focused');
          $('.navbar.solid-nav.navbar-hover .navbar-overlay').removeAttr('style');
        }
    );
  }

  $(window).scroll(function () {
    var height = $(window).scrollTop();

    $('.navbar').css({
      'box-shadow': '0 ' + (0 + (Math.min(height / 10, 2))) + 'px ' + (0 + (Math.min(height / 10, 2))) + 'px ' + 'rgba(0,0,0,.2)'
    });
    if (height > 5) {
      $('.subnav').css({
        'border-bottom-color': 'transparent'
      });
    } else {
      $('.navbar').removeAttr('style');
    }
  });

  var $sideMenu = $('.side-menu-container');
  var $menulink = $('.side-menu-link');
  var $mobileNavContainer = $('.mobile-nav-container');

  $menulink.click(function () {

    var i = $(this).attr('href').slice(-1);
    var $sideMenu = $('#side-menu' + i);
    var $wrap = $('.wrap');

    if (($wrap.hasClass('active')) && ($(this).hasClass('active'))) {
      $menulink.removeClass('active');
      $wrap.removeClass('active');
      $('html').removeClass('side-menu-active');
      $wrap.removeClass('side-menu-active');
      $mobileNavContainer.fadeOut('slow', function () {
        $(this).removeClass('active');
      });

    }
    else if (($wrap.hasClass('active')) && (!$(this).hasClass('active'))) {
      $menulink.removeClass('active');
      $(this).addClass('active');
      $('.side-menu-container').removeClass('active');
      $sideMenu.addClass('active');

    }
    else if (!$wrap.hasClass('active')) {
      $(this).addClass('active');
      $('.side-menu-container').removeClass('active');
      $mobileNavContainer.stop(true, true).addClass('active').show();
      $sideMenu.addClass('active');
      $wrap.addClass('active');
      $('html').addClass('side-menu-active');
      $wrap.addClass('side-menu-active');


    }
    return false;
  });


  function getJobTitleTypeAhead()
  {
    $("#keywords").typeahead(
        {
          hint: false,
          highlight: true,
          minLength: 1
        },
        {
          source: function (q, cb) {
            var arrList = [];
            /* 132 - Job Title
             124 - Skills Or Keyword
             */
            var searchType = 132;
            var request = JSON.stringify({
              "Query":q,
              "MaxResults":10,
              "SearchType":  searchType
            });

            $.ajax({
              url: "/Services/MAutoComplete.asmx/GetCompletionList?request=" + request + '',
              type: "GET",
              dataType: "json",
              contentType: "application/json",
              success: function (data) {
                if (data.d.Result.Items != null) {
                  for (var i = 0; i < data.d.Result.Items.length && i < 10; i++) {
                    var txt = (data.d.Result.Items[i].Text).replace(/<b>|<\/b>/g, "");
                    arrList.push({ value: txt });
                  }
                  cb(arrList);
                }
              }
            });
          }
        }
    );
  }

  function getLocationTypeAhead(locTypeAheadUrl)
  {
    $("#location").typeahead(
        {
          hint: false,
          highlight: true,
          minLength: 1
        },
        {
          source: function (q, cb) {
            var arrList = [];
            $.ajax({
              url: locTypeAheadUrl,
              type: "POST",
              dataType: "json",
              contentType: "application/json",
              data: JSON.stringify({"query":q,"countryID":'164'}),
              success: function (data) {
                if (data.d.Result.Items != null) {
                  for (var i = 0; i < data.d.Result.Items.length && i < 10; i++) {
                    var txt = (data.d.Result.Items[i].Text).replace(/<b>|<\/b>/g, "");
                    arrList.push({ value: txt });
                  }
                  cb(arrList);
                }
              }
            });
          }
        }
    );
  }

  $(function () {
    getLocationTypeAhead('/Services/Locations.asmx/GetTrovixLocationsCompletionList');
    getJobTitleTypeAhead();

    $("#keywords").keyup(function(event){
      if(event.keyCode == 13){
        mnstDoSearch('quickJobSearch', '0');
      }
    });

    $("#location").keyup(function(event){
      if(event.keyCode == 13){
        mnstDoSearch('quickJobSearch', '0');
      }
    });
  });

  /* Sub Navigation Columnization */
  $(function () {
    secondComponent = $("#m-global-navbar .subnav-sub-columns > .cmsNavContainer.componentDC1:nth-child(2)")
    secondComponent.each(function() {
      parenting = $(this).parent().parent().append($('<div class="col-xs-3 subnav-sub-columns"></div>'));
      parenting.find('.subnav-sub-columns').last().append($(this));
    });

    var num_cols = 2,
        container = $("#m-global-navbar .cmsNavContainer ul"),
        listItem = 'li',
        listClass = 'sub-list';
    container.each(function() {
      var items = $(this).find(listItem);
      if (items.length > 5) {
        var items_per_col = new Array(),
            min_items_per_col = Math.floor(items.length / num_cols),
            difference = items.length - (min_items_per_col * num_cols);
        for (var i = 0; i < num_cols; i++) {
          if (i < difference) {
            items_per_col[i] = min_items_per_col + 1;
          } else {
            items_per_col[i] = min_items_per_col;
          }
        }
        for (var i = 0; i < num_cols; i++) {
          if (i == 0) {
            for (var j = 0; j < items_per_col[i]; j++) {
              var pointer = 0;
              for (var k = 0; k < i; k++) {
                pointer += items_per_col[k];
              }
              $(this).append(items[j + pointer]);
            }
          }
          else {
            parenting = $(this).parent().parent().parent().append($('<div class="col-xs-3 subnav-sub-columns"><div class="cmsNavContainer"></div></div>'));
            parenting.find('.cmsNavContainer').last().append($('<ul></ul>').addClass(listClass));
            for (var j = 0; j < items_per_col[i]; j++) {
              var pointer = 0;
              for (var k = 0; k < i; k++) {
                pointer += items_per_col[k];
              }
              parenting.find('.' + listClass).last().append(items[j + pointer]);
            }
          }
        }
      }
    });
  });


</script>


<!-- Header ends -->

<div class="wrap">
  <div class="content">
    <span class="anchor" id="mainContent"></span>
    <div class="mainbar">
      <div class="matter">
        <!-- Main content starts -->
        <div class="container">
          <div class="row">





            <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-0 form-container-login-page">
              <form action="" autocomplete="" class="formGS" data-submitName="submitName" id="SignInform" method="post"><input name="__RequestVerificationToken" type="hidden" value="m1Gh+2xFhR1hetl3ztJmYK3II4m4yTRlJt4HzExzGZIhnOXDwhoewybMTl+du1UfGA52naZ/MlJkErJOpv4JDcDhxT0Qd6OVVkSO9MFsaRl6NiIqgAnSN+Nw3RqVk27D1LDHR+anZpYNeNVCuv5HEe/OAzk=" /><input id="AreCookiesEnabled" name="AreCookiesEnabled" type="hidden" value="False" />        <h3>Sign In With Monster Account </h3>
                <div class="login-form  ">

                  <div class="form-group has-feedback has-feedback-left">
                    <label for="EmailAddress">Email Address</label>
                    <input autocomplete="off" class="required email form-control" id="EmailAddress" maxlength="100" name="EmailAddress" placeholder="Your email Address" type="email" value="" />
                    <i class="form-control-feedback zmdi zmdi-account"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="Password">Password</label>
                    <input autocomplete="off" class="form-control required" id="Password" name="Password" placeholder="Your password" type="password" value="" />
                    <i class="form-control-feedback zmdi zmdi-lock"></i>
                  </div>
                  <div class="login-form-options">
                    <label for="PersistLogin" class="label--checkbox">
                      <input name="PersistLogin" id="PersistLogin" value="true" type="checkbox"><input name="PersistLogin" type="hidden" value="false" />Keep me logged in
                    </label>
                    <span class="pull-right"><a class="m-link" href="http://login20.monster.com/Password/Forgot?r=http%3a%2f%2flogin20.monster.com%2fLogin%2fSignIn%3fre%3dswoop%26ch%3dMONS%26intcid%3dskr_swoop_h1">Forgot password?</a> </span>
                  </div>
                  <button type="submit" id="btn-login" class="btn btn-md btn-block btn-purple-fill">Sign In</button>

                  <div class="or-divider">
                    <span class="or-divider-text">OR</span>
                  </div>
                  <div class="btn-group btn-block">
                    <a id="btn-facebook-login" class="btn btn-md btn-block btn-facebook" href="https://login20.monster.com/Login/FBSignIn?rurl=http%3a%2f%2flogin20.monster.com%2fLogin%2fSignIn%3fre%3dswoop%26ch%3dMONS%26intcid%3dskr_swoop_h1&amp;ch=MONS&amp;re=fromFBC" role="button">
                      <i class="zmdi zmdi-facebook"></i>
                      Sign In with Facebook
                    </a>
                  </div>
                  <h5 class="new-user-header">Don't have a Monster account?</h5>
                  <a href="http://login20.monster.com/Become-Member/Create-Account?landedFrom=SignIn" class="btn-signup" role="button" id="btn-signup">Sign Up</a>
                </div>
              </form></div>

            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 ad-container-login-page visible-lg">
              <script type="text/javascript">
                _s.ads.jsAdController.init({"AdSourceSetupScript":"site=mons&affiliate=mons&size=0x0&oas_pv=no_analytics&fb=0&dx=1160001&dx=1188600&dx=mon&dx=2291224&dx=2291290&dx=2291224","AppId":null,"DomainForTargetingParameters":"login20.monster.com","OAS_RN":"050249163","Path":"us.monster.en\/login20\/login\/signin","Protocol":"https:\/\/"})
              </script>

              <script type="text/javascript">
                _s.ads.jsAdController.generateAd({"AdServerType":"1","AdType":"js","ApplicationId":"login","Height":400,"Id":"BannerAd_BannerAdFrame1_400_0_Frame1","IsFirstAd":false,"PagePositionId":"Frame1","PositionList":"Frame1!Frame1","Protocol":"https:\/\/","SubApplicationId":"signin","Title":"Advertisement","Width":0})
              </script>

            </div>


            <script>
              $(function () {
                _g.namespace('_s.login').main = {
                  startLogin: function () {
                    $('input[rel="loginButton"}').attr('disabled', 'disabled');
                  },
                  areCoockiesEnabled: function () {
                    var cookieEnabled = (navigator.cookieEnabled) ? true : false;

                    if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled) {
                      document.cookie = "testcookie";
                      cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
                    }
                    return (cookieEnabled);
                  }
                }
                $('#AreCookiesEnabled').val(_s.login.main.areCoockiesEnabled());
              });

              $(document).ready(function () {
                $('#SignInform').validate({
                  onkeydown: false,
                  onkeyup: false,
                  onfocusin: false,
                  onfocusout: false,
                  invalidHandler: function (event, validator) {
                    $('.m-validation-errors').addClass('hidden')
                  },
                  highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                  },
                  unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                  },
                  errorElement: "span",
                  errorClass: 'input-error',
                  errorPlacement: function (error, element) {
                    error.insertAfter(element);
                  }
                });

                $.extend($.validator.messages, {
                  required: "This field is required.",
                  email: "The email address you entered does not represent a valid email address."
                });
              });
            </script>


          </div>
        </div>
        <!-- Main content ends -->
      </div><!-- Matter ends -->
    </div><!-- Mainbar ends -->
  </div>
  <div class="clearfix"></div>

  <!-- Footer starts -->


  <footer role="contentinfo" class="m-global-footer text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a class="m-logo" href="http://www.monster.com"  title="Go to Monster home" aria-label="Go to Monster home">
            <span class="sr-only">Go to Monster home</span>
            <img alt="Monster logo" src="https://securemedia.newjobs.com/niche/images/niche-footer-m.gif">
          </a>
        </div>
      </div>
      <div class="row hidden-mobile">
        <div class="col-xs-12">
          For Employers: <a href='http://hiring.monster.com' title='Post Jobs' name='flpjob'>Post Jobs</a> | <a href='http://hiring.monster.com/recruitment/Resume-Search-Database.aspx' title='Search Resumes' name='flschRes'>Search Resumes</a> | <a href='http://advertising.monster.com/' title='Advertise' name='fladvu'>Advertise</a>
        </div>
      </div>
      <div class="row hidden-mobile">
        <div class="col-xs-12">
          <a href="http://www.monster.com/jobs/" title="Jobs in US">Jobs in US</a> |   <a href="http://www.monster.ca/jobs/" title="Jobs in Canada">Jobs in Canada</a> |   <a href="http://www.monster.co.uk/jobs/" title="Jobs in UK">Jobs in UK</a> |   <a href="http://www.monster.fr/emploi/" title="Emplois en France">Emplois en France</a> |   <a href="http://www.monster.de/jobs/" title="Jobs in Deutschland">Jobs in Deutschland</a> |   <a href="http://www.monsterboard.nl/vacatures/" title="Vacatures in Nederland">Vacatures in Nederland</a><br />    <a name='fl1am' href='http://www.monster.com/about' title='About Monster'>About Monster</a> |   <a name='fl1wfm' href='https://careers.monster.com/' title='Work for Monster'>Work for Monster</a> |   <a name='fl1advu' href='http://advertising.monster.com/' title='Advertise with Us'>Advertise with Us</a> |   <a href='http://preferences.truste.com/2.0/?type=monster&affiliateId=155' title='AdChoices'>AdChoices <i class='iconAdChoices'></i></a> |   <a name='fl1pwu' href='http://partner.monster.com' title='Partner with Us'>Partner with Us</a> |   <a name='fl1invr' href='http://ir.monster.com/phoenix.zhtml?c=110723&p=irol-irhome' title='Investor Relations'>Investor Relations</a> |    <a name='fl1socm' href='http://career-services.monster.com/social-media/home.aspx' title='Social Media'>Social Media</a> <br />   <a name='fl1tou' href='http://my.monster.com/terms/default.aspx' title='Terms of Use'>Terms of Use</a> |   <a name='fl1prp' href='http://inside.monster.com/privacy/home.aspx' rel='nofollow' title='Privacy Center'>Privacy Center</a> |  <a name='fl1acc ' href='http://inside.monster.com/accessibility' title='Accessibility center'>Accessibility Center </a> |  <a name='fl1hlp' href="javascript:win = window.open('https://monster.secure.force.com/ekb/EKBHome?brand=seeker','help','width=998,height=650,scrollbars,resizable'); win.focus();" title='Help'>Help </a> |   <a name='fl1sec' href='http://my.monster.com/securitycenter/' title='Security'>Security</a> |   <a name='fl1cus' href="javascript:win = window.open('https://monster.secure.force.com/ekb/EKBContactUs?brand=seeker','help','width=998,height=650,scrollbars,resizable'); win.focus();" title='Contact Us'>Contact Us</a> |   <a name='fl1sitm' href='http://my.monster.com/sitemap' title='Sitemap'>Sitemap</a> |   <a name='fl1cable' href='http://www.monstercable.com' title='Monster Cable' rel='nofollow'>Looking for Monster Cable?</a><br />
          <span id="mcFooterContent" aria-label="Release Version Number"> - V: 2016.16.0.42-205 -</span>
        </div>
      </div>
      <div class="row visible-mobile">
        <div class="col-xs-12">
          <a name='termsofuse' href='http://inside.monster.com/terms-of-use' title='Terms of Use'>Terms of Use</a> | <a name='privacycenter' href='http://inside.monster.com/privacy/home.aspx' rel='nofollow' title='Privacy Center'>Privacy Center</a> | <a name='aboutmonster' href='http://www.monster.com/about' rel='nofollow' title='About Monster'>About Monster</a> | <a name='adchoices' href='http://preferences-mgr.truste.com/?type=monster&affiliateId=155' rel='nofollow' title='Info'>AdChoices<i class='iconAdChoices'></i></a> | <a name='cable' href='http://www.monstercable.com' rel='nofollow' title='cable'>Looking for Monster Cable?</a>
        </div>
      </div>
      <div id="dynamicFooter" class="visible-xs"></div>
    </div>
  </footer>

  <!-- Footer ends -->
</div>


<script type="text/javascript" language="javascript">var DYNAMIC_S_ACCOUNT='newjobsProdSeekerUS';var DYNAMIC_S_CURRENCYCODE='USD';</script><script type="text/javascript">//<![CDATA[
var amc=amc||{};if(!amc.on){amc.on=amc.call=function(){}};
document.write("<scr"+"ipt type='text/javascript' src='https://securemedia.newjobs.com/js/sc/sitecatalystLL.js'></sc"+"ript>");
//]]>
_m.ATM.properties={"eVar2":"unrecognized","channel":"58","eVar1":"D=g","prop1":"D=g","eVar4":"0"};_m.ATM.pageName='desktop|mons|login20|/login/signin';_m.ATM.version=0;_m.ATM.appID='login20';_m.ATM.channelID=58;_m.ATM.countryID=164;_m.ATM.appConfig={version:'0',appID:'login20',channelID:'58',countryID:'164'};_m.ATM.runOnLoad=true;
(function () {if (typeof addMonsterReady != 'undefined') {addMonsterReady(_m.ATM.initFromOnReady);} else {$(document).ready(_m.ATM.initFromOnReady);}})();</script>
<script src="https://securemedia.newjobs.com/js/wt/DCS000003_6D4Q.js" TYPE="text/javascript"></script>
<input name="UserSecurityLevelControl" type="hidden" id="UserSecurityLevelControl" value="1" />
<div style="display:none;"></div>



</body>
</html>















<div class='jumbotron'>
   <div class='row'>
     <div class='col-xs-6 center-block'>
       <%= image_tag('octocat.png', class: 'img-responsive') %>
       <%= link_to button_tag('Sign in via Github', class: 'btn-auth btn-github'), '/auth/github' %>
     </div>
     <div class='col-xs-4 col-xs-offset-2'>
       <h1>Log in</h1>
       <%= form_tag login_path do %>
           <p>
           <%= label_tag :email %>
           <%= text_field_tag :email %>
         </p>
           <p>
           <%= label_tag :password %>
           <%= password_field_tag :password %>
         </p>

           <p class='button'><%= submit_tag 'Login' %></p>
         <% end %>
     </div>
   </div>
</div>
