<h2> Jobs Search </h2>
<ul>
  <% @search_results.each_with_index do |job, index| %>
    <li>
      <div>

        <p><b> <%= link_to job.job_title, job.url, target: "_blank" %> </b></p>
        <p><%= job.company %> </p>
        <p> <%= job.formatted_location %> </p>
        <p><%= job.snippet %> </p>
      </div>

    </li>
    <hr>
  <% end %>
  <%= link_to 'Next Page', jobs_path(start_at: @next_page) %>

</ul>

