<div class='jumbotron'>
   
  <div class='row'>
       
    <% unless @user.omniauth? %>
           
      <div class='col-xs-6 center-block'>
               <%= image_tag('octocat.png', class: 'img-responsive') %>
               <%= link_to button_tag('Sign up via Github', class: 'btn-auth btn-github'), '/auth/github' %>
                <%= link_to button_tag('Sign up via twitter', class: 'btn-auth btn-twitter'), '/auth/twitter' %>
                <%= link_to button_tag('Sign up via Google', class: 'btn-auth btn-google'), '/auth/google_oauth2' %>

             
      </div>
           
      <div class='col-xs-4 col-xs-offset-2'>
               <h1>Signup</h1>
             
      </div>
         
    <% else %>
           
      <div class='col-sx-10 col-xs-offset-2 center-block'>
               <h1>Verify Details</h1>
             
      </div>
         
    <% end %>

       <%= render 'users/form' %>

       <%= link_to 'Back', root_path %>
     
  </div>
</div>
